#!/bin/bash

HOST_DEV_USER_NAME="your_username"

# This should be the parent folder of all project folders you want to work with in the local dev shell and other
# containers.
HOST_MOUNT_TARGET=`pwd`"/../"
# This should be left as it is so the scripts can find the mounted project folders.
DOCKER_MOUNT_DIR="/home/${HOST_DEV_USER_NAME}"

# Postgres Database credentials
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
