asgiref==2.3.1
channels_redis==2.3.3
Django==2.1.5
django-ckeditor==5.6.1
django-debug-toolbar==1.11
djangorestframework==3.9.1
channels==2.1.6
psycopg2==2.7.7
pytest==4.1.1
pytest-cov==2.6.1
pytest-django==3.4.5
six==1.12.0
