.Content {
    display: inline-block;
    padding: 5px;
    margin: 3px;
}

.contentAuthor {
    font-size: 0.5em;
    padding: 5px;
    margin: 3px;
}

.ContentWrapper:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.Content:focus {
    background: #f2f2f2;
    cursor: auto;
    outline: 0;
}

.Content p {
    margin: 0;
}

.Content h1, .Content h2 {
    color: #00adef;
}